body{
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(74, 105, 182, 0.75));
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: block;
    align-items: center ; 
    justify-content: center;
}

form{
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(74, 105, 182, 0.75));
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba (0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 340px;
    margin-left: 30%;
    margin-top: 50px;
}

header {
    text-align: center;
    padding: 10px 10px 10px 10px; 
    position: fixed;
    margin: 10px 5px 5px 270px ; 
}

details summary {
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    color: #ffff;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;

}
  
details[open] summary {
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    text-align: center;
}

#logo{
    align-items: center;
    width: 100px;
    height: 100px;
}

nav {
    display: inline-block;
    
 
}
  
nav div {
    width: 120px;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
    border: 1px solid white;
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    border-radius: 15px;
}
  
nav a {
    text-decoration: none;
    color: #090909;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1 ;
}


.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: #283629;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: black;
    outline: none;
}

input::placeholder,textarea::placeholder{
    color: #b5cab6;

}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-txt a{
    color: aquamarine;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}

.btn{
    font-size: 16px;
    color: #ffff;
    border: 0;
    border-radius: 25px;
    background-color: blue;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4 );
    cursor: pointer;

}
.btn-hover{
    background-color: aqua;

}

@media(max-width:991px){
    body{
        padding: 30px;

    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;

    }


}

.header{

    width: 100% !important;
    height: 100% !important;
}