body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #073e77;
    color: #090909;
    margin: 0;
    padding: 20px;
}

.containter{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10 px;
    max-width: 900px;
    margin: 1 auto;
    padding: 20px;
    background-color: #073e77;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.229);
}

h2{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    font-weight: bold;
}

.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #073e77;
}

.btn-primary{
    background-color: #fff;
    border-color: #007bff;
    color: #073e77;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover{
    background-color: #fff;
    color: #073e77;
}

.table-container{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: auto;
}

table{
    justify-content: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #fff;
}

table th, table td{
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-align: center;
    border: 1px solid #dee2e6;
    color: #fff;
}

table th{
    justify-content: center;
    align-items: center;
    background-color: #0056b3;
    color: #fff;
}

.modal-content{
    padding: 20px;
    background-color: #f8f9fa;
}

.modal-header{
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.modal-title{
    margin: 0;
    font-size: 18px;
}

.btn-secondary{
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover{
    background-color: #5a6268;
}

.btn-detalles{
    background-color: #5bc0de;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-detalle:hover{
    background-color: #5bc0de;
}

.btn-actualizar{
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-actualizar:hover{
    background-color: #f0ad4e;
}

.btn-eliminar{
    background-color: #c9302c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-eliminar:hover{
    background-color: #c9302c;
}