
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1px 10px 10px 50px; 
    position: fixed;
    margin: 0 5px 5px 270px ; 
}
#logo{
    width: 100px;
    height: 100px;
}
nav {
    display: inline-block;
    
 
}
  
nav div {
    width: 100px;
    text-align: center;
    margin: 1px 10px 1px 1px;
    display: inline-block;
    border: 1px solid white;
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    border-radius: 15px;
}
  
nav a {
    text-decoration: none;
    color: #090909;
}

p{
    margin-left: -75px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.hero{
    background:linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50 )), url(/img/portada3.jfif);
    background-size: contain;
    background-position: center center;
    height: 100%;
    display: auto;
    justify-content: center;
    align-items: center;
    color: #070707;
    text-align: center;
}

.subcontainer{
    background-color: #87CEEB;
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    border-radius: 15px;
    margin-top: 120px;
    margin: 120px 0 0 -75px;
    
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero button {
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    color: #040404;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    margin: 0 0 0 -75px;
}


.about {
    background: linear-gradient(rgba(174, 192, 240, 0.5), rgba(76, 98, 153, 0.5)), url(/img/formacion.jfif);
    background-size: cover;
    background-color: #F5F5F5;
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: -100px;
    
}


.cta {
    background: linear-gradient(rgba(174, 192, 240, 0.634), rgba(33, 36, 43, 0.5)), url(/img/portada.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5px;
    text-align: center;
}

.cta h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta button {
    background: linear-gradient(rgba(205, 208, 213, 0.75), rgba(39, 62, 119, 0.75));
    color: #080808;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: -120px;
}

menu ol{
    color: #87CEEB;
    display: inline;
    list-style: none;
    margin-left:  -150px;
}

menu li{
    color: #87CEEB;
    display: inline;
    padding-inline: 10px;
}
footer {
    background-color: #050505;
    color: #87CEEB;
    padding: 10px;
    text-align: center;

}